{% extends "base.html" %}
{% block title %}Home Page{% endblock%}

{% block content %}
  <div class="home">
<h1>Welcome to Data 2 Intelligence</h1>
<p> This website will serve as an oasis for data scientists and researchers. It will evolve into providing the tools for researchers and lay-persons to help them better understand their data and to find different ways make sense of it.</p>

<p>For a start, a team of programmers will work on the Data Patterns project that will allow researchers to upload their data and get a quick description of their data and use various statistical and visualization tools to help identify patterns or the 'big picture' to help pave the way for a detail analysis . The project overview is listed below.</p>

<h1> Data Patterns</h1>

<p>The purpose of this project is to develop a website to ease data science exploration, analysis and visualization for researchers not familiar with web programming and common statistical tools. The primary components of the JavaScript-based website involve uploading data in CSV format and automatically presenting common exploratory data descriptions. Based on the type of data uploaded, a suite of data analysis and visualizations will be made possible through the use of Python and D3.js libraries. The output can be in the form or pdf or webpages.</p>

<h2>Uploading CSV</h2>
     
     <p>The main page will allow researchers to upload their CSV files. The CSV will be stored in a database that will be purged after a day. The CSV file size will be limited to 10 MB.</p>

<h2>Exploratory Description Output</h2>
     
     <p>The  output will  include basic description of the type of data, categorical and quantitative, and if quantitative, whether the data are nominal, ordinal, or interval. These outputs will be stored for 24 hours and presented on the left panel of the Website. It will also help to flag out missing data.</p>

<h2>Data Analysis</h2>
     <p>Based on the data in the CSV file, the data analysis output will try at least 5 statistical analysis for all possible combinations of columns in the CSV file. Some of the analysis methods may not be relevant to type of data and will therefore continue to the next test.</p> 

<h2>Visualization</h2>
     <p>The main purpose of the website is to throw out as many types of visualization so as to get a big picture of the patterns in the data they uploaded. This big picture will give researchers insights into the relationships between all their data and thus allow them to drill down and choose the areas for deeper analysis.</p>  

<p>
For this project we will be using the following:</p>
<p><li> Ubuntu 21.04 - for development because it is readily avaiable and free</li>
<li>Python 3.8.5 - its is powerful and well supported</li>
<li>Venv and Heroku to deploy live for free</li>
<li>Flask - simple and easly to learn and deploy JavaScript Framework</li>
<li>MongoDb - Database that can store unstructure data</li>
<li>D3.js - wonderful visualization</li>
<li>DC.js< - interactive visualization/li>
<li>BootStrap and CSS - simple and effective website display controls</li>
</p>


{% endblock %}
